.services {
    background-color: #ffd793;
}

.mycontainer {
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 130px;
    margin-right: 100px;
}

.servicestitle {
    font-size: 30px;
    font-family: Georgia, serif;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.servicesbtn {
    background-color: #75757583;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 30px;
    margin: 20px;
}

.servicesbtn:hover {
    transform: scale(1.1);

}

.servicesbtn:focus {
    outline: none;
}

.servicesbtn:active {
    transform: scale(0.98);
}

.mylink {
    text-decoration: none;
    color: white;
}


@media (max-width: 576px) {
    .servicesbtn {
      font-size: 12px; /* Adjust font size as needed */
      padding: 10px 16px; /* Adjust padding as needed */
    }
  }
  
  /* Medium screens */
  @media (min-width: 577px) and (max-width: 992px) {
    .servicesbtn {
      font-size: 14px; /* Adjust font size as needed */
      padding: 12px 18px; /* Adjust padding as needed */
    }
  }
  
  /* Large screens */
  @media (min-width: 993px) {
    .servicesbtn {
      font-size: 16px; /* Adjust font size as needed */
      padding: 14px 18px; /* Adjust padding as needed */
    }
  }


/* Path: src/big components/otherstyles.css */