.services {
    background-color: #ffd793;
}

.mycontainer {
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 130px;
    margin-right: 100px;
}

.servicestitle {
    font-size: 30px;
    font-family: Georgia, serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: start;
}

.servicesbtn {
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Georgia, serif;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 30px;
}

.servicesbtn:hover {
    transform: scale(1.1);

}

.servicesbtn:focus {
    outline: none;
}

.servicesbtn:active {
    transform: scale(0.98);
}
